body {
  background-image: url("https://cdn.hipwallpaper.com/i/97/65/9A5vMm.jpg");
}

.topnav {
  background-color: #B2D0E5;
  overflow: hidden;
  float: center;
  color: #FCFBFB;
  text-align: center;
  padding: 3px 3px;
  text-decoration: none;
  font-size: 40px;
  font-family: 'Bree Serif', serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, minmax(300px, auto));
  grid-gap: 10px;
}


#weekly-forecast {
  grid-column: 1 / 3;
  text-align: center;
  color: #FCFBFB;
  border: solid;
  border-color: #9BACBC;
  border-radius: 2px;
  background-color: #626E89;
  opacity: 0.3;
}

#daily-forecast {
  text-align: center;
  color: #FCFBFB;
  border: solid;
  border-color: #9BACBC;
  border-radius: 2px;
  background-color: #626E89;
  opacity: 0.3;
}

#current-weather {
  text-align: center;
  color: #FCFBFB;
  border: solid;
  border-color: #9BACBC;
  border-radius: 2px;
  background-color: #626E89;
  opacity: 0.3;
}
/* .section1 {
  float: left;
  display: inline-block;
  grid-area: section1;
  width: 50%;
  height: 200px;
  outline: solid;
  outline-color: #626E89;
}

.section2 {
  float: right;
  display: inline-block;
  grid-area: section2;
  width: 50%;
  height: 200px;
  outline: solid;
  outline-color: #626E89;
}

.section3 {
  grid-area: section3;
  width: 100%;
  height: 300px;
  text-align: center;
  outline: solid;
  outline-color: #626E89;
}

.section4 {
  grid-area: section3;
  width: 100%;
  height: 300px;
  text-align: center;
  outline: solid;
  outline-color: #626E89;
} */